button {
	font-family: 'Outfit', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 1px;
	outline: none;
}

button:focus {
	opacity: 0.8;
}

.btn {
	text-transform: uppercase;
	border-radius: 1rem;
	border: none;
	transition: background-color 0.3s;
	cursor: pointer;

	&--cpu,
	&--player {
		width: 100%;
		padding: 1.4rem 0 2.2rem;
		transition: background-color 0.3s;
	}

	&--cpu {
		margin-bottom: 1.6rem;
		background-color: $yellow;
		color: $dark-navy;
		box-shadow: inset 0px -8px 0px #cc8b13;

		&:hover {
			background-color: $yellow-hover;
		}
	}

	&--player {
		background-color: $light-blue;
		color: $dark-navy;
		box-shadow: inset 0px -8px 0px #118c87;

		&:hover {
			background-color: $light-blue-hover;
		}
	}

	&--restart {
		background-color: $silver;
		box-shadow: inset 0px -4px 0px #6b8997;

		&:hover {
			background-color: $silver-hover;
		}
	}

	&--tile {
		background-color: $semi-dark-navy;
		box-shadow: inset 0px -8px 0px #10212a;
	}

	&--quit,
	&--cancel {
		padding: 1.5rem;
		background-color: $silver;
		color: $dark-navy;
		box-shadow: inset 0px -4px 0px #6b8997;

		&:hover {
			background-color: $silver-hover;
		}
	}

	&--next,
	&--reset {
		padding: 1.5rem;
		margin-left: 1.6rem;
		background-color: $yellow;
		color: $dark-navy;
		box-shadow: inset 0px -4px 0px #cc8b13;

		&:hover {
			background-color: $yellow-hover;
		}
	}
}
